.container {
  display: flex;
  /* flex-direction: column; */
  margin-bottom: 5px;
  margin-top: 20px;
  /* background-color: antiquewhite; */
  width: 100%;
}
/*  */
.container .cards{
flex:2.6 1 0; 
/* background-color: aqua; */
min-height: 100vh;
color:white;
}
.container .favorite {
  flex:1 0 0;
  height: fit-content;
  padding: 15px;
  background-color:#6552f4;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-left: 20px;
  /* min-height: 100vh;; */
}
.favorite h4{

  font-size: 1.2rem;
  color: white;
}