.cards {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 15px;
  background-color:#303030;
}
 .cards .image {
  width: 5%;
  justify-content: center;
  border-radius: 5px;
} 

.inside .image img {
  width: 100%;

}
.inside div {
  width: 88%;

  display: flex;
  flex-direction: column;
  justify-content: start;
  color: white;
  font-size: 14px;

}
.inside div p {
  margin-bottom: 10px;
}

.inside div .details {
  display: flex;


}

.inside div .details span {
  margin-left: 15px;
}

.inside .like {
  width: 25px;
  height: 25px;
  display: flex;
  justify-content: center;
  align-items: center;

  border-radius: 5px;
  cursor: pointer;
} 


