.cards {
  display: flex;
  /* justify-content: space-between; */
  margin-bottom: 5px;
  border-radius: 10px;
  padding: 15px;
  background-color:#303030;
}
 .cards img{
  width:60px;
 border-radius: 5px;
 margin-right: 30px;
} 
.info{
  width: 100%;
display: flex;

flex-direction: column;
justify-content: space-between;
font-size: 14px;
margin-bottom: 5px;

}
.info div {
  display: flex;
}
.info div span {
  margin-right:20px;
font-size: 12px;
  /* justify-content: flex-start; */
  color:#959595;
  


}
.cards button{
  height: fit-content;
  border: none;
  /* outline: none; */
  background: none;
  cursor: pointer;
  transition:  0.1s all ease-in-out;
}

.cards button:hover {
transform: scale(1.3);
}
