.cards {
   display: flex;
   align-items: center;
   padding: 5px 10px;
   margin:10px 0;
   background-color: #7c6ee9;
   border-radius: 5px;
}
.cards  img {
    width: 30px;
    border-radius: 5px;
    margin-right:15px;
}
.cards p{
    color:white;
    font-size: 12px;
}