body {
    max-width: 1000px;
    min-height: 100vh;
    margin: auto;
    padding: 10px;
    background-color: black;
   font-family: 'Inter', sans-serif;

}
*{
    padding: 0;
    margin:0;
    box-sizing: border-box;
}